html, body { 
  overflow:  hidden;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh; 
  /* height: calc(var(--vh, 1vh) * 100); */
}

td {
  width: 51px;
}

tbody {
  color: limegreen;
  font-weight: bold;
}
